<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}{% if title %}{{ title }} - {% endif %}Programming Quiz{% endblock %}</title>
    </head>
    <body>
        {%- block navbar %}
        <nav>
            <a href="{{ url_for('main.index') }}">Home</a>
        </nav>
        {%- endblock %}
        {%- block content %}
        <div>
            {%- with messages = get_flashed_messages(with_categories=true) %}
            {%- if messages %}
            {%- for category, message in messages %}
            <div>
                {{ message }}
            </div>
            {%- endfor %}
            {%- endif %}
            {%- endwith %}
            {%- block app_content %}{% endblock %}
        </div>
        <footer>
            {%- block footer_content %}{% endblock %}
        </footer>
        {%- endblock %}
    </body>
</html>
