<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Logo</a>

        <!-- Toggle button for mobile view -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav1" aria-controls="navbarNav1" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links -->
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav1">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#">Dashboard</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Quizzes</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Candidates</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Analytics</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Profile</a></li>
            </ul>
        </div>


        <div class="d-flex ms-auto align-items-center">
            <a class="btn btn-dark" href="{{ url_for('auth.logout') }}">Log out</a>
        </div>
    </div>
</nav>
