{% extends "base.html" %}

{% block title %}
Confirm Start Quiz
{% endblock %}

{% block navbar %}{% endblock %}

{% block app_content %}
    <div class="confirmation-container">
        <h2>Ready to Begin?</h2>
        <p>Are you sure you want to start the quiz: {{ quiz.name }}?</p>
        
        <!-- Confirmation -->
        <a class="btn btn-dark w-100" href="{{ url_for('main.confirm_start_quiz', id=quiz.id, start='yes') }}" role="button">Yes, Start Quiz</a>
        <!-- Cancel Option -->
        <div class="mt-3">
            <a href="{{ url_for('main.index') }}" class="btn btn-dark w-100">Cancel</a>
        </div>
    </div>
{% endblock %}
