{% extends "base.html" %}

{% block title %}
Quiz in Progress
{% endblock %}

{% block navbar %}{% endblock %}

{% block app_content %}
<div class="container-fluid">
    <div class="row">
        <!-- Instructions Sidebar -->
        <div class="col-md-3 sidebar sidebar-interface">
            <h5>Instructions</h5>
            <p>
                {{ instructions }}
            </p>
        </div>

        <!-- Quiz Section -->
        <div class="col-md-9 main-content">
            <!-- Timer -->
            <div class="row">
                <div class="col-12 text-center">
                    <h4 id="timer">
                        Time Remaining: 
                        <span id="time-remaining">
                            {{ remaining_time | format_time_interval }}
                        </span>
                    </h4>
                </div>
            </div>

            <!-- Current Question -->
            <form id="quizForm" method="POST" action="" novalidate>
                {{ form.hidden_tag() }}
                <input type="hidden" name="current_question" value="{{ current_question_number }}">
                <div class="row">
                    <div class="col-12">
                        <h4>Question {{ current_question_number }} of {{ total_questions }}</h4>
                        <div class="question-box">
                            <!-- Display Question Content -->
                            <h5>{{ current_question.title }}</h5>
                            <p>{{ current_question.body }}</p>
                        </div>

                        <!-- Answer Section -->
                        {% if current_question.__tablename__ == "ChoiceQuestions" %}
                            {% if current_question.question_type == "true-false" %}
                                {% for subfield in form.tf_answer %}
                                <div class="form-check">
                                    <td>{{ subfield(class="form-check-input answer-input") }}</td>
                                    {{ current_question.options[loop.index - 1].option_text}}
                                </div>
                                {% endfor %}
                            {% elif current_question.question_type == "multiple-choice" %}
                                {% for subfield in form.multi_choice_answer %}
                                <div class="form-check">
                                    <td>{{ subfield(class="form-check-input answer-input") }}</td>
                                    {{ current_question.options[loop.index - 1].option_text}}
                                </div>
                                {% endfor %}
                            {% elif current_question.question_type == "multiple-selection" %}
                                <div class="form-check">
                                    {{form.multi_select_answer_one(class="form-check-input")}}
                                    {{ current_question.options[0].option_text}}
                                </div>
                                <div class="form-check">
                                    {{form.multi_select_answer_two(class="form-check-input")}}
                                    {{ current_question.options[1].option_text}}
                                </div>
                                <div class="form-check">
                                    {{form.multi_select_answer_three(class="form-check-input")}}
                                    {{ current_question.options[2].option_text}}
                                </div>
                                <div class="form-check">
                                    {{form.multi_select_answer_four(class="form-check-input")}}
                                    {{ current_question.options[3].option_text}}
                                </div>
                            {% endif %}
                            {% else %}{# Free response question. #}
                                {{form.free_response_answer(class="form-control", id="answer_text", rows="4")}}
                        {% endif %}

                        <!-- Navigation Buttons -->
                        <div class="row mt-4">
                            <div class="col-12 navigation-buttons">
                                {#{% if has_previous %}
                                    {{ form.previous(class="btn btn-dark")}}
                                {% else %}
                                <button class="btn btn-dark" disabled>Previous</button>
                                {% endif %}#}
                                {% if has_next %}
                                    {{ form.next(class="btn btn-dark")}}
                                {% else %}
                                    {{ form.submit(class="btn btn-dark")}}
                                {% endif %}
                            </div>
                        </div>

                        <!-- Pagination -->
                        <div class="row mt-4">
                            <div class="col-12">
                                <nav>
                                    <ul class="pagination">
                                        {% for i in range(1, total_questions + 1) %}
                                        <li class="page-item {% if i == current_question_number %}active{% endif %}">
                                            <span class="page-link">{{ i }}</span>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}